
*.1
*.cache
*.hjson
*.txt
*.dll
*.Up2Date
*.BuildWithSkipAnalyzers
*.json
*.pdb
*.xml
.vs/Subterannia/v17/.suo
*.v2
*.vsidx
*.config
/.vs
*.lock
*.props
*.editorconfig
*.cache
obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
obj/Debug/net8.0/Subterannia.AssemblyInfo.cs
Localization/en-US_Mods.Subterannia.hjson
*.sln
*.targets
